body{
	margin:0;
	width:100%;
}

h1{
	font-family: 'Monoton', cursive;
	font-weight:bold;
	font-size:90px;
	color:#ED0;
	width:100%;
}

p{
	padding-top:20px;
	padding-bottom:10px;
	color:#FFF;
	font-weight:bold;
	text-align:justify;
}

footer{
	width:100%;
	background-color:#108;
	padding:20px;
	color:#ED0;
}

.crystal{
	max-height:auto;
	max-width:150px;
	float:left;
	border: 2px inset #999;
}

#title{
	width:100%;
}

#sideImage1, #sideImage2{
	height:auto;
	max-width:293px;
	width:100%;
}

.status{
	height:225px;
	width:225px;
}

.lead{
	position:relative;
}

.follow{
	position:absolute;
}

#winsNum, #goalNum, #scoreNum, #lossesNum{
	left:100px;
	top:70px;
	font-family:'Arial';
	font-size:50px;
	color:#00F;
	width:100%;
}

#goalNum{
	left:70px;
}

#scoreNum{
	left:70px;
}

#wrap{
	max-width:100%;
	height:auto;
	background-color:#108;
	border:10px inset #ED0;
}

#action{
	width:100%;
	height:auto;
	background-color:#108;
	border:10px inset #ED0;
}

#statusBar{
	width:100%;
	height:auto;
	background-color:#108;
	border:10px inset #ED0;
}

#intro{
	width:100%;
	height:auto;
	background-color:#108;
	border:10px inset #ED0;
	border-image: url(..assets/images/placeholder.jpg) 20 round;
}

@media only screen and (max-width: 980px) {
  	#sideImage {
   
  	}
}

@media only screen and (max-width: 768px) {
	#sideImage1 {
    width:0px;
    float:right;
  	}
  	#sideImage2{
  	width:0px;
  	}
  	#crystal{
  	float:left;
  	}
  	#winsCol{
		float:left;
  	}
  	#goalNum{
  		left:300px;
  	}
  	#goalCol{
  		float:right;
  		margin-right:0px;
  	}
  	#pointsCol{
  		float:left;
  	}
	#lossesCol{
		float:right;
	}
}


@media only screen and (max-width: 640px) {
	#wrap{
	width:100%;
	}
	#intro{
	width:100%;
	}
	#sideImage1 {
    width:0px;
  	}


}